<app-search-filter
  [filters]="searhFilters"
  (onClickFilter)="onClickFilter($event)"
></app-search-filter>
<app-dynamic-table
  [loading]="loading"
  [columns]="columns"
  (onChangePagination)="onChangePagination($event)"
  [items]="items"
  (onDeleteItem)="onClickDeleteItem($event)"
  (onEditItem)="onClickEditItem($event)"
  (onSelectItem)="onClickSelectItem($event)"
  [totalItens]="totalItens"
  [showButtons]="showButtons"
></app-dynamic-table>
<div class="flex flex-row flex-row-reverse flex-wrap mt-2">
  <p-button label="Novo" icon="pi pi-file" (onClick)="onClickNew()" />
</div>
