<form [formGroup]="usuarioForm" (ngSubmit)="onClickSubmit()">
  <div class="card flex flex-column md:flex-column gap-3">
    <input pInputText placeholder="Nome" formControlName="nmUsuario" />
    <app-calendar
      placeholder="Data nascimento"
      formControlName="dtNascimento"
      dateFormat="dd/mm/yy"
    />
    <input pInputText placeholder="Mãe" formControlName="nmMae" />
    <app-cidade-pesquisa-form formControlName="cdCidadeNascimento" />
    <!--
    <input
      pInputText
      placeholder="Cidade de Nascimento"

    />
    -->
    <input pInputText placeholder="Sexo" formControlName="sexo" />
    <input pInputText placeholder="Nome Social" formControlName="nmSocial" />
    <input pInputText placeholder="Nome Pai" formControlName="nmPai" />
    <input pInputText placeholder="Nr. CPF" formControlName="nrCpf" />
    <app-calendar
      formControlName="dtEmissaoCpf"
      placeholder="Data Emissão"
      dateFormat="dd/mm/yy"
    />
    <p-button
      type="submit"
      label="Salvar"
      [disabled]="!usuarioForm.valid || estaEmProcessamento"
    >
    </p-button>
    <p-button type="button" label="Voltar" (onClick)="clickVoltar()">
    </p-button>
  </div>
</form>
